## OOS PERFORMANCE COMPETITION
## ISA 491
## Group 4

## **Project EDA**

In [ ]:

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# read data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

file_path = '/content/drive/MyDrive/Fall 2024/ISA 491/Final Project/data/loan_default_score.csv'
# file_path = 'loan_default_score.csv'
df = pd.read_csv(file_path)
df.head()

,ID,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,...,address,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,last_credit_pull_d,acc_now_delinq,hardship_flag,debt_settlement_flag
0,0,35000.0,36 months,13.67,1190.62,C,C4,Platoon sergeant,10+ years,RENT,...,"5884 Valdez Ridges\r\nPort Davidfort, DC 86630",1.0,695.0,699.0,0.0,17.0,Feb-2017,0.0,N,N
1,1,2600.0,36 months,13.68,88.46,C,C1,Department of Defense,2 years,MORTGAGE,...,92228 Cooper Flats Apt. 703\r\nNorth Alexander...,0.0,710.0,714.0,3.0,NaN,Jul-2016,0.0,N,N
2,2,7000.0,36 months,12.12,232.91,B,B3,State of California-CHP,10+ years,RENT,...,"93894 Bianca Rest Apt. 713\r\nPort Jessica, NH...",0.0,680.0,684.0,0.0,NaN,Aug-2015,0.0,N,N
3,3,22250.0,36 months,21.00,838.28,E,E1,Rn staff nurse,10+ years,MORTGAGE,...,"38728 Sanders Knolls Apt. 028\r\nJasonstad, AZ...",1.0,665.0,669.0,1.0,12.0,Aug-2016,0.0,N,N
4,4,16000.0,60 months,12.49,359.89,B,B5,Tariff Representative,10+ years,RENT,...,"811 Leon Glens Apt. 014\r\nEast Danielle, LA 7...",0.0,740.0,744.0,0.0,NaN,Oct-2014,0.0,N,N

In [ ]:
## save 'ID'
ID = df['ID']

## drop uninformative variables
df = df.drop(['ID', 'address', 'acc_now_delinq'], axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79243 entries, 0 to 79242
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_amnt               79243 non-null  float64
 1   term                    79243 non-null  object
 2   int_rate                79243 non-null  float64
 3   installment             79243 non-null  float64
 4   grade                   79243 non-null  object
 5   sub_grade               79243 non-null  object
 6   emp_title               74621 non-null  object
 7   emp_length              75551 non-null  object
 8   home_ownership          79243 non-null  object
 9   annual_inc              79243 non-null  float64
 10  verification_status     79243 non-null  object
 11  issue_d                 79243 non-null  object
 12  purpose                 79243 non-null  object
 13  title                   78918 non-null  object
 14  dti                     79243 non-null  float64
 15  earliest_cr_line        79243 non-null  object
 16  open_acc                79243 non-null  float64
 17  pub_rec                 79243 non-null  float64
 18  revol_bal               79243 non-null  float64
 19  revol_util              79187 non-null  float64
 20  total_acc               79243 non-null  float64
 21  initial_list_status     79243 non-null  object
 22  application_type        79243 non-null  object
 23  mort_acc                71758 non-null  float64
 24  pub_rec_bankruptcies    79139 non-null  float64
 25  delinq_2yrs             79243 non-null  float64
 26  fico_range_low          79243 non-null  float64
 27  fico_range_high         79243 non-null  float64
 28  inq_last_6mths          79243 non-null  float64
 29  mths_since_last_delinq  37109 non-null  float64
 30  last_credit_pull_d      79238 non-null  object
 31  hardship_flag           79243 non-null  object
 32  debt_settlement_flag    79243 non-null  object
dtypes: float64(17), object(16)
memory usage: 20.0+ MB

#### **1. Data Overview and Summary Statistics**

In [ ]:
# Display summary statistics for numerical variables
df.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,mort_acc,pub_rec_bankruptcies,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq
count,79243.000000,79243.000000,79243.000000,7.924300e+04,79243.000000,79243.000000,79243.000000,7.924300e+04,79187.000000,79243.000000,71758.000000,79139.000000,79243.000000,79243.000000,79243.000000,79243.000000,37109.000000
mean,14123.608079,13.676753,432.049684,7.407500e+04,17.367697,11.292253,0.177795,1.594207e+04,53.928316,25.413753,1.818585,0.122177,0.282511,696.473695,700.473808,0.780952,34.728826
std,8366.178325,4.482860,251.176993,5.796638e+04,9.932095,5.118591,0.508280,2.244692e+04,24.369405,11.910516,2.152551,0.356603,0.800580,31.588898,31.589434,1.025284,21.843042
min,950.000000,5.320000,22.240000,6.000000e+02,0.000000,1.000000,0.000000,0.000000e+00,0.000000,3.000000,0.000000,0.000000,0.000000,660.000000,664.000000,0.000000,0.000000
25%,8000.000000,10.490000,250.330000,4.500000e+04,11.300000,8.000000,0.000000,6.018000e+03,36.000000,17.000000,0.000000,0.000000,0.000000,670.000000,674.000000,0.000000,16.000000
50%,12000.000000,13.330000,375.380000,6.400000e+04,16.930000,10.000000,0.000000,1.118900e+04,55.000000,24.000000,1.000000,0.000000,0.000000,690.000000,694.000000,0.000000,32.000000
75%,20000.000000,16.550000,567.300000,9.000000e+04,22.960000,14.000000,0.000000,1.967550e+04,73.000000,32.000000,3.000000,0.000000,0.000000,710.000000,714.000000,1.000000,51.000000
max,40000.000000,30.990000,1503.850000,7.446395e+06,1622.000000,55.000000,24.000000,1.743266e+06,152.500000,151.000000,34.000000,7.000000,18.000000,845.000000,850.000000,8.000000,152.000000

#### **2. Data Visualization**

In [ ]:
# drop fico_range_low, given range between high and low is always 4, we only need one fico_range variable
df = df.drop(['fico_range_low'], axis=1)

In [ ]:
# drop installment because highly corr with loan amt
df = df.drop(['installment'], axis=1)

#### **3. Handling Missing Data**

In [ ]:
## drop all variables with % missing > 50
df = df.drop(["mths_since_last_delinq"], axis = 1)

In [ ]:
# make emp_title a missing indicator
df['emp_title_missing_indicator'] = df['emp_title'].isnull().astype(int)
## drop emp_title
df.drop('emp_title', axis=1, inplace=True)

## encode emp_length, title with unknown
df['emp_length'] = df['emp_length'].fillna('Unknown')
df['title'] = df['title'].fillna('Unknown')

In [ ]:
## impute log_mort_acc with median
df['mort_acc'] = df['mort_acc'].fillna(df['mort_acc'].median())

## impute revol_util with meidan
df['revol_util'] = df['revol_util'].fillna(df['revol_util'].median())

## impute pub_rec_bankruptcies with 0
df['pub_rec_bankruptcies'] = df['pub_rec_bankruptcies'].fillna(0)

In [ ]:
## make bankruptcy flag: 1 = at least 1 pub_rec_bankruptcy, 0 = no pub_rec_bankruptcy
df['bankruptcy_flag'] = np.where(df['pub_rec_bankruptcies'] > 0, 1, 0)

## drop pub_rec_bankruptcies
df.drop('pub_rec_bankruptcies', axis=1, inplace=True)

In [ ]:
## make delinq_2yrs: 1 = at least 1 pub_rec_bankruptcy, 0 = no pub_rec_bankruptcy
df['delinq_2yrs_flag'] = np.where(df['delinq_2yrs'] > 0, 1, 0)

## drop delinq_2yrs
df.drop('delinq_2yrs', axis=1, inplace=True)

In [ ]:
## drop pub_rec because highly correlated with pub_rec_bankruptcy
df.drop('pub_rec', axis=1, inplace=True)

In [ ]:
## impute last_credit_pull_d with median and format as number to make comparisons
cols = ['issue_d','earliest_cr_line','last_credit_pull_d']

for col in cols:
  df[col] = pd.to_datetime(df[col], format='%b-%Y')
  df[col] = df[col].fillna(df[col].median())
  df[col] = pd.to_numeric(df[col])

#### **4. Outlier/Anomaly Detection**

#### **5. Data Transformation**

In [ ]:
# Identify numeric variables with a skew above 1.5 in absolute value excluding 'emp_title_missing_indicator' and 'bankruptcy_flag and '
numeric_skew = df.select_dtypes(include='number').skew()
variables_to_transform = numeric_skew[numeric_skew.abs() > 1.5].index.tolist()
variables_to_transform.remove('emp_title_missing_indicator')
variables_to_transform.remove('bankruptcy_flag')
variables_to_transform.remove('delinq_2yrs_flag')

# Apply log transformation to these variables
for variable in variables_to_transform:
  df[f"log_{variable}"] = np.log1p(df[variable])  # Use log1p to handle zero and negative values
  df.drop(variable, axis=1, inplace=True)

#### **6. Encoding Categorical Variables/8. Dimensionality Reduction/9. Feature Creation**

In [ ]:
# Drop sub_grade becasue grade contains relavent info
df = df.drop(['sub_grade'], axis=1)

In [ ]:
## DROP TITLE AND KEEP PURPOSE (purpose better categorizes title (less levels))
df = df.drop(['title'], axis=1)

In [ ]:
## convert car, medical, moving, vaction, house, wedding, education to personal for df['purpose']
df['purpose'] = np.where(df['purpose'].isin(['car', 'medical', 'moving', 'vacation', 'house', 'wedding', 'educational']), 'personal', df['purpose'])

In [ ]:
#drop 'initial_list_status', 'application_type', 'debt_settlement_flag', 'hardship_flag'
## high/low levels, and not relavent.
df = df.drop(['initial_list_status', 'application_type', 'debt_settlement_flag', 'hardship_flag'], axis=1)

In [ ]:
## dummy encode
df = pd.get_dummies(df, drop_first=True)

In [ ]:
## Final cleaning steps
## make all the column names/headers in df clean
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('[^a-zA-Z0-9_]', '')

## map 0 & 1 to bool variables
for col in df.columns:
  if df[col].dtype == 'bool':
    df[col] = df[col].astype(int)

df.head()

,loan_amnt,int_rate,issue_d,earliest_cr_line,open_acc,revol_util,total_acc,fico_range_high,last_credit_pull_d,emp_title_missing_indicator,...,home_ownership_rent,verification_status_source_verified,verification_status_verified,purpose_debt_consolidation,purpose_home_improvement,purpose_major_purchase,purpose_other,purpose_personal,purpose_renewable_energy,purpose_small_business
0,35000.0,13.67,1446336000000000000,907200000000000000,8.0,60.0,21.0,699.0,1485907200000000000,0,...,1,0,1,1,0,0,0,0,0,0
1,2600.0,13.68,1372636800000000000,883612800000000000,16.0,44.4,36.0,714.0,1467331200000000000,0,...,0,1,0,1,0,0,0,0,0,0
2,7000.0,12.12,1354320000000000000,757382400000000000,7.0,63.2,38.0,684.0,1438387200000000000,0,...,1,0,0,1,0,0,0,0,0,0
3,22250.0,21.00,1383264000000000000,709948800000000000,10.0,69.6,29.0,669.0,1470009600000000000,0,...,0,1,0,1,0,0,0,0,0,0
4,16000.0,12.49,1401580800000000000,760060800000000000,11.0,39.6,15.0,744.0,1412121600000000000,0,...,1,1,0,0,0,0,0,0,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79243 entries, 0 to 79242
Data columns (total 49 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   loan_amnt                            79243 non-null  float64
 1   int_rate                             79243 non-null  float64
 2   issue_d                              79243 non-null  int64
 3   earliest_cr_line                     79243 non-null  int64
 4   open_acc                             79243 non-null  float64
 5   revol_util                           79243 non-null  float64
 6   total_acc                            79243 non-null  float64
 7   fico_range_high                      79243 non-null  float64
 8   last_credit_pull_d                   79243 non-null  int64
 9   emp_title_missing_indicator          79243 non-null  int64
 10  bankruptcy_flag                      79243 non-null  int64
 11  delinq_2yrs_flag                     79243 non-null  int64
 12  log_annual_inc                       79243 non-null  float64
 13  log_dti                              79243 non-null  float64
 14  log_revol_bal                        79243 non-null  float64
 15  log_mort_acc                         79243 non-null  float64
 16  log_inq_last_6mths                   79243 non-null  float64
 17  term__60_months                      79243 non-null  int64
 18  grade_b                              79243 non-null  int64
 19  grade_c                              79243 non-null  int64
 20  grade_d                              79243 non-null  int64
 21  grade_e                              79243 non-null  int64
 22  grade_f                              79243 non-null  int64
 23  grade_g                              79243 non-null  int64
 24  emp_length_10+_years                 79243 non-null  int64
 25  emp_length_2_years                   79243 non-null  int64
 26  emp_length_3_years                   79243 non-null  int64
 27  emp_length_4_years                   79243 non-null  int64
 28  emp_length_5_years                   79243 non-null  int64
 29  emp_length_6_years                   79243 non-null  int64
 30  emp_length_7_years                   79243 non-null  int64
 31  emp_length_8_years                   79243 non-null  int64
 32  emp_length_9_years                   79243 non-null  int64
 33  emp_length_<_1_year                  79243 non-null  int64
 34  emp_length_unknown                   79243 non-null  int64
 35  home_ownership_mortgage              79243 non-null  int64
 36  home_ownership_none                  79243 non-null  int64
 37  home_ownership_other                 79243 non-null  int64
 38  home_ownership_own                   79243 non-null  int64
 39  home_ownership_rent                  79243 non-null  int64
 40  verification_status_source_verified  79243 non-null  int64
 41  verification_status_verified         79243 non-null  int64
 42  purpose_debt_consolidation           79243 non-null  int64
 43  purpose_home_improvement             79243 non-null  int64
 44  purpose_major_purchase               79243 non-null  int64
 45  purpose_other                        79243 non-null  int64
 46  purpose_personal                     79243 non-null  int64
 47  purpose_renewable_energy             79243 non-null  int64
 48  purpose_small_business               79243 non-null  int64
dtypes: float64(11), int64(38)
memory usage: 29.6 MB

## Ensure variables line up with model

In [ ]:
X = df
# Rename columns to avoid errors
X.columns = X.columns.str.replace('[^a-zA-Z0-9_]', '_', regex=True)

In [ ]:
X["dti"] = np.exp(X.log_dti)
X.drop("log_dti", axis=1, inplace=True)

In [ ]:
dropped_columns = ['int_rate',
 'emp_length_3_years',
 'home_ownership_other',
 'home_ownership_mortgage',
 'emp_length___1_year',
 'emp_length_10__years',
 'emp_length_5_years',
 'emp_length_6_years',
 'emp_length_7_years',
 'emp_length_unknown',
 'emp_length_8_years',
 'emp_length_9_years',
 'home_ownership_own',
 'purpose_major_purchase',
 'purpose_renewable_energy',
 'home_ownership_none',
 'verification_status_verified',
 'emp_length_2_years',
 'purpose_personal']

# Creating a copy of the X Data before dropping columns
X = X.drop(columns=dropped_columns)

In [ ]:
!pip install joblib

Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (1.4.2)

#### Best Model

In [ ]:
#model used
#xgb3= XGBClassifier(learning_rate=0.025, max_depth=7, n_estimators=700, random_state=42, use_label_encoder=False, eval_metric='logloss')
#xgb3.fit(X_train_lr, y_train)
#willie_model

In [ ]:
import joblib

new_model = joblib.load('/content/xgb3_g.joblib')

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79243 entries, 0 to 79242
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   loan_amnt                            79243 non-null  float64
 1   issue_d                              79243 non-null  int64
 2   earliest_cr_line                     79243 non-null  int64
 3   open_acc                             79243 non-null  float64
 4   revol_util                           79243 non-null  float64
 5   total_acc                            79243 non-null  float64
 6   fico_range_high                      79243 non-null  float64
 7   last_credit_pull_d                   79243 non-null  int64
 8   emp_title_missing_indicator          79243 non-null  int64
 9   bankruptcy_flag                      79243 non-null  int64
 10  delinq_2yrs_flag                     79243 non-null  int64
 11  log_annual_inc                       79243 non-null  float64
 12  log_revol_bal                        79243 non-null  float64
 13  log_mort_acc                         79243 non-null  float64
 14  log_inq_last_6mths                   79243 non-null  float64
 15  term__60_months                      79243 non-null  int64
 16  grade_b                              79243 non-null  int64
 17  grade_c                              79243 non-null  int64
 18  grade_d                              79243 non-null  int64
 19  grade_e                              79243 non-null  int64
 20  grade_f                              79243 non-null  int64
 21  grade_g                              79243 non-null  int64
 22  emp_length_4_years                   79243 non-null  int64
 23  home_ownership_rent                  79243 non-null  int64
 24  verification_status_source_verified  79243 non-null  int64
 25  purpose_debt_consolidation           79243 non-null  int64
 26  purpose_home_improvement             79243 non-null  int64
 27  purpose_other                        79243 non-null  int64
 28  purpose_small_business               79243 non-null  int64
 29  dti                                  79243 non-null  float64
dtypes: float64(10), int64(20)
memory usage: 18.1 MB

In [ ]:
y_pred = new_model.predict(X)
y_pred

array([1, 0, 0, ..., 0, 1, 0])

In [ ]:
predictions = pd.concat([ID, pd.DataFrame(y_pred)], axis = 1)
predictions.columns = ['ID', 'loan_status']
predictions.to_csv('group4_submission_file3.csv', index = False)

In [ ]:
predictions

          ID  loan_status
0          0            1
1          1            0
2          2            0
3          3            0
4          4            0
...      ...          ...
79238  79238            0
79239  79239            0
79240  79240            0
79241  79241            1
79242  79242            0

[79243 rows x 2 columns]